#container-main
{
	width: 62%;
	margin: 3em auto;
}

#container-main .container-form
{
	margin:3em auto;
}

#container-main .container-form label
{
	display: block;
	margin: 1em 0em;
	font-size: 20px;
}

#container-main .container-form .btn-success
{
	display: inline;
}

#container-main .container-form input
{
	width: 20em;
}

#container-main .container-form .uno
{
	color:#73D7F0;
}

#container-main .container-form .dos
{
	color:#877D7D;
}

